@charset "utf-8";
@import url(stylesheet.gallery.css);
/*
*
*	Page content
*/
#pagecontent{
	display: block;
	width: 1152px;
	text-align: left;
}
#pagecontent .content-break{
	display: block;
	width: 37px;
	height: 10px;
}
#pagecontent table.contenttable td{
	vertical-align: top;
}
#pagecontent .posts{
	display: block;
	width: 550px;
	padding-bottom: 20px;
	border-bottom: 1px dotted #203a4f;
	margin-bottom: 70px;
}
#pagecontent .post-title{
	display: block;
	font-family: "Georgia", "Times New Roman", Sans-serif;
	font-size: 20px;
	line-height: 25px;
}
#pagecontent .post-title a{
	font-family: "Georgia", "Times New Roman", Sans-serif;
	font-size: 20px;
	color: #d0eaff;
	line-height: 25px;
	border-bottom: 1px solid transparent;
}
#pagecontent .post-title a:hover{
	border-bottom: 1px solid #900;
}
#pagecontent .post-info{
	color: #607a8f;
	font-size: 10px
}
#pagecontent .post-info a{
	display: inline-block;
	color: #a6d62a;
	border-bottom: 1px solid transparent;
}
#pagecontent .post-info a.leavecomment{
	padding-left: 16px;
	background-image: url('../images/ico/right.png');
	background-repeat: no-repeat;
	background-position: 0px 50%;
}
#pagecontent .post-info a:hover{
	color: #a0caef;
	border-bottom: 1px solid #900;
}
#pagecontent .post-content{
	display: block;
	text-align: justify;
}
#pagecontent .post-content a{
	color: #5086ff;
	border-bottom: 1px solid transparent;
}
#pagecontent .post-content a:hover{
	border-bottom: 1px solid #284380;
}
#pagecontent .post-content a.download{
	display: inline-block;
	background-color: #a6d62a;
	background-image: url('../images/bgs/bgs.download.png');
	background-repeat: repeat-x;
	background-position: 0px 100%;
	color: #394a0f;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 55px;
	padding-right: 15px;
	border: 1px solid #394a0f;
	margin: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px; 
}
#pagecontent .post-content a:hover.download{
	border: 1px solid #dfff8d;
	color: #306000;
}
#pagecontent .post-content ul, #pagecontent .post-content ol{
	display: block;
	margin-left: 20px;
	list-style: none;
	margin-top: 15px;
	margin-bottom: 15px;
}
#pagecontent .post-content ul li, #pagecontent .post-content ol li{
	display: block;
	padding-left: 20px;
	background-image: url('../images/ico/icn-arrow.png');
	background-position: 0px 2px;
	background-repeat: no-repeat;
}
#pagecontent .post-content img{
	border: 5px solid #d0eaff;
	padding: 0px;
	margin: 10px;
	display: inline-block;
	background-color: #d0eaff;
}
#pagecontent .mdlrgt-content{
	display: block;
	width: 235px;
}
#pagecontent .mdlrgt-content .cntpart{
	display: block;
	margin-bottom: 70px;
}
#pagecontent a.post-item{
	display: block;
	color: #a6d62a;
	border-bottom: 1px dotted #203a4f;
	padding-top: 15px;
	padding-bottom: 15px;
}
#pagecontent a:hover.post-item{
	background-image: url('../images/bgs/bgs.link.png');
	background-repeat: repeat;
	background-position: 0px 0px;
}
#pagecontent a.post-item .item-title{
	border-bottom: 1px solid transparent;
}
#pagecontent a:hover.post-item .item-title{
	border-bottom: 1px dotted #900;
}
#pagecontent a.post-item .item-date{
	/*display: block;*/
	font-style: italic;
	font-size: 10px;
	color: #607a8f;
}
#pagecontent a.post-item img.gravatar{
	display: inline-block;
	float: left;
	height: 30px;
	width: 30px;
	border: 1px solid #203a4f;
	margin-top: 4px;
	margin-right: 5px;
	margin-bottom: 3px;
}
#pagecontent a:hover.post-item img.gravatar{
	border: 1px solid #a6d62a;
}
#pagecontent .bartitle{
	display: block;
	width: 235px;
	height: 50px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
#pagecontent .recentpost		{	background-image: url('../images/bnr/recentposts.png');		}
#pagecontent .recentcomments		{	background-image: url('../images/bnr/recentcomments.png');		}
#pagecontent .blogfiles			{	background-image: url('../images/bnr/blogfiles.png');		}
#pagecontent .category			{	background-image: url('../images/bnr/category.png');			}
#pagecontent .blogroll			{	background-image: url('../images/bnr/blogroll.png');			}
#pagecontent .gallery-blog		{	background-image: url('../images/bnr/gallery-blog.png');		}
#pagecontent .leave-comment		{	background-image: url('../images/bnr/leave-comment.png');		}

.qtip-green, .qtip-blue, .qtip-cream, .qtip-dark, .qtip-mytheme{
	font-size: 10px;
}

/*
	Items of blogfiles
*/

#pagecontent a.bf-item{
	display: block;
	color: #a6d62a;
	border-bottom: 1px dotted #203a4f;
	padding-top: 5px;
	padding-bottom: 5px;
}
#pagecontent a:hover.bf-item{
	background-image: url('../images/bgs/bgs.link.png');
	background-repeat: repeat;
	background-position: 0px 0px;
}
#pagecontent a.bf-item .item-title{
	border-bottom: 1px solid transparent;
}
#pagecontent a:hover.bf-item .item-title{
	border-bottom: 1px dotted #900;
}
#pagecontent a.bf-item .item-date{
	/*display: block;*/
	font-style: italic;
	font-size: 10px;
	color: #607a8f;
}
#pagecontent a.openfile{
	border-bottom: 1px dotted transparent;
	background-image: url('../images/bgs/bgs.link.png');
	background-repeat: repeat;
	background-position: 0px 0px;
}
#pagecontent a.closedfile{
	border-bottom: 1px dotted #203a4f;
}
.blogfilecontents{
	display: block;
	background-image: url('../images/bgs/bgs.link.png');
	background-repeat: repeat;
	background-position: 0px 0px;
	padding-left: 5px;
	padding-right: 5px;
	background-position: 0px 0px;
	font-size: 10px;
	border-bottom: 1px dotted #203a4f;
}
.blogfilecontents a{
	display: block;
	color: #5086ff;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px dotted #002a4f;
}
.blogfilecontents a:hover{
	background-image: url('../images/bgs/bgs.link.png');
	background-repeat: repeat;
	background-position: 0px 0px;
}
.blogfilecontents a .item-title{
	border-bottom: 1px solid transparent;
}
.blogfilecontents a:hover .item-title{
	border-bottom: 1px dotted #900;
}
.blogfilecontents a .item-date{
	font-style: italic;
	font-size: 10px;
	color: #607a8f;
}
#pagecontent .postcomment{
	display: block;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
	color: #a0cadf;
	font-size: 10px;
}
#pagecontent .postcomment a{
	text-decoration: none;
	color: #46f;
}
#pagecontent .postcomment b, #pagecontent .postcomment a>b{
	text-decoration: none;
	color: #90baff;
}
#pagecontent .postcomment img.comimage{
	display: inline-block;
	float: right;
	height: 40px;
	width: 40px;
	border: 2px solid #a6d62a;
	padding: 0px;
	margin-left: 10px;
	margin-bottom: 10px;
}
#pagecontent .on{
	background-image: url('../images/bgs/bgs.link.png');
	background-repeat: repeat;
	background-position: 0px 0px;
	border-top: 1px dotted #002a4f;
	border-bottom: 1px dotted #002a4f;
}
#pagecontent .off{
	background-image: url('../images/bgs/bgs.banner.png');
	background-repeat: repeat;
	background-position: 0px 0px;
}
#pagecontent .postcomment .com-info{
	display: block;
	background-image: url('../images/bgs/bgs.link.png');
	/*border-top: 1px dotted #002a4f;*/
	padding: 5px;
	margin-top: 10px;
	color: #507a9f;
	font-style: italic;
}
#pagecontent .cat-description{
	display: block;
	width: 548px; 
	border: 1px dotted #203a4f;
	background-image: url('../images/bgs/bgs.link.png');
	background-repeat: repeat;
	background-position: 0px 0px;
	margin-bottom: 50px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.comment-break{
	display: block;
	height: 70px;
}
form .comment-area{
	display:block;
	margin: 5px;
	margin-left: 10px;
	margin-bottom: 10px;
}
form .comment-area .text-input{
	display: block;
	background-color: transparent;
	width: 450px;
	height: 250px;
	font-size: 10px;
	color: #a6d62a;
}
form .left-input{
	display: block;
	background-image: url('../images/bgs/bgs.inputleavecomment.left.png');
	background-repeat: no-repeat;
	background-position: 0px 50%;
	padding-left: 5px;
	margin: 5px;
	margin-left: 10px;
}
form .right-input{
	display: block;
	background-image: url('../images/bgs/bgs.inputleavecomment.right.png');
	background-repeat: no-repeat;
	background-position: 100% 50%;
	padding-left: 0px;
	padding-right: 5px;
	padding-top: 8px;
	padding-bottom: 7px;
}
form .middle-input{
	display: block;
	background-color: transparent;
	font-size: 10px;
	color: #a6d62a;
	width: 450px;
}
form button{
	background-color: transparent;
	margin:0px;
	padding: 0px;
	border: 0px;
	font-size: 10px;
	color: #2f3d0c;
}
form button .left-button{
	display: inline-block;
	background-image: url('../images/btn/btn.leftbtn.png');
	background-repeat: no-repeat;
	background-position: 0px 50%;
	padding-left: 5px;
	font-size: 10px;
	color: #2f3d0c;
}
form button .right-button{
	display: inline-block;
	background-image: url('../images/btn/btn.rightbtn.png');
	background-repeat: no-repeat;
	background-position: 100% 50%;
	padding-left: 10px;
	padding-right: 15px;
	padding-top: 7px;
	padding-bottom: 8px;
	font-size: 10px;
	color: #2f3d0c;
}
#paginator{
	display: block;
	text-align: right;
	font-size: 10px;
	background-image: url('../images/bgs/pagination.left.png');
	background-repeat: no-repeat;
	background-position: 0px 50%;
	padding-left: 10px;
}
#paginator .innerpaginator{
	display: block;
	background-image: url('../images/bgs/pagination.right.png');
	background-repeat: no-repeat;
	background-position: 100% 50%;
	padding-right: 10px;
	height: 35px;
}
#paginator .numerator{
	display: inline-block;
	padding-top: 5px;
}
#paginator a{
	display: inline-block;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
	color: #a6d62a;
	margin: 1px;
	margin-left: 5px;
	margin-right: 5px;
	border: 1px solid transparent;
}
#paginator a:hover{
	color: #c5ff32;
}
#paginator a.pag-itemthis{
	font-weight: bold;
	color: #c5ff32;
	border: 1px solid #17181e;
	background-image: url('../images/bgs/bgs.link.png');
	background-repeat: repeat;
	background-position: 0px 0px;
}
#paginator .pagesof{
	display: inline-block;
	float: left;
	padding-top: 7px;
	padding-bottom: 2px;
	margin: 1px;
	border: 1px solid transparent;
}
#paginator .break{
	display: inline-block;
	float: left;
	height: 35px;
	width: 2px;
	background-image: url('../images/bgs/pagination.break.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-left: 10px;
	margin-right: 10px;
}

.social-buttons{
	display: block;
	margin-top: 10px;
}
.post-social-media-mini{
	display: inline-block;
	float: left;
	width: 120px;
}