@charset "utf-8";

@import url(../../data/highlighter/styles/shCore.css);
@import url(../../data/highlighter/styles/shThemeMidnight.css);
@import url(stylesheet.topbanner.css);
@import url(stylesheet.pagecontent.css);
@import url(stylesheet-msjboxes.css);
@import url(stylesheet.loginform.css);
@import url(stylesheet.footer.css);

@import url(http://fonts.googleapis.com/css?family=Lusitana);

*{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: "Lucida Sans Unicode", sans-serif;
	text-decoration: none;
	line-height: 18px;
}
body{
	font-size: 11px;
	color: #d0eaff;
	background-color: #1B212D;
	background-image:url('../images/bgs/bgs.body.jpg');
	background-repeat: no-repeat;
	background-position: 50% 0px;
	background-attachment: scroll;
}
.inner05{
	display: block;
	padding: 5px;
}
.inner10{
	display: block;
	padding: 10px;
}
.inner20{
	display: block;
	padding: 20px;
}
table{
	border-collapse: collapse;
}
.advertice-red{
	color: #ed1c24;
}
.advertice-titlered{
	font-family: "Georgia", "Times New Roman", Sans-serif;
	color: #ed1c24;
}




/*
| --------------------------------------------------------------
| Aviso de cerrado por reparaciones
| --------------------------------------------------------------
*/

.closed-for-repairs {
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-image: url('../images/bgs/bgs.banner.png');
	z-index: 999;
}

.closed-for-repairs .repairs-container {
	display: inline-block;
	text-align: left;
	padding: 20px;
	background-image: url('../images/bgs/bgs.banner.png');
	font-family: Arial, Sans-serif;
	font-size: 11px;
	border-radius: 3px;
	box-shadow: 0px 0px 5px #000;
	color: #c0cacf;
}

.closed-for-repairs .repairs-container h2 {
	display: block;
	font-family: "Lusitana", Georgia, serif;
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 20px;
}

.closed-for-repairs .repairs-container .socialmedia {
	display: block;
	text-align: center;
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #000a0f;
}