.gallerycontent{
	display: block;
	width: 822px;
}
.gallerycontent a.gallery-preview{
	display: inline-block;
	background-image: url('../images/bgs/bgs.link.png');
	background-repeat: repeat;
	background-position: 0px 0px;
	border: 1px solid #1f2e3d;
	height: 80px;
	width: 267px;
	margin-bottom: 5px;
	margin-right: 5px;
	-webkot-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #234;
}
.gallerycontent a.gallery-preview:hover{
	border: 1px solid #203a4f;
}
.gallerycontent a.gallery-preview .inner05{
	background-image: url('../images/bgs/bgs.galleryitem.png');
	background-repeat: repeat-x;
	background-position: 100% 100%;
	-webkot-border-radius: 5px;
	-moz-border-radius: 5px;
	height: 70px;
	width: 257px;
}
.gallerycontent a.gallery-preview .textimg{
	display: inline-block;
	height: 67px;
	width: 67px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border: 1px solid #9c2;
	float: left;
	-webkot-border-radius: 3px;
	-moz-border-radius: 3px;
}
.gallerycontent a.gallery-preview .gallerydescription{
	display: inline-block;
	float: left;
	margin-left: 10px;
	height: 67px;
	width: 178px;
}
.gallerycontent a.gallery-preview .gallerydescription b{
	display: block;
	color: #d0eaff;
	font-weight: normal;
}
.gallerycontent a.gallery-preview .gallerydescription .guser{
	font-size: 10px;
	color: #456;
}

.gallerycontent .gallery-description{
	display: block;
	width: 820px; 
	border: 1px dotted #203a4f;
	background-image: url('../images/bgs/bgs.link.png');
	background-repeat: repeat;
	background-position: 0px 0px;
	margin-bottom: 50px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
a .spacer-gimg{
	display: inline-block;
	border: 3px solid #a6d62a;
	background-image: url('../images/bgs/bgs.link.png');
	background-repeat: repeat;
	background-position: 0px 0px;
	height: 75px;
	width: 75px;
}
a:hover .spacer-gimg{
	border: 3px solid #c5ff32;
	background: none;
}
a.pic-photo{
	display: inline-block;
	/*background-image: url('../images/bgs/bgs.download.png');*/
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin: 10px;
}