#content-loginform{
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: url('../images/bgs/bgs.banner.png');
	background-position: 0px 0px;
	background-repeat: repeat;
	z-index: 999;
	/*visibility: hidden;*/
}
#content-loginform .logincontent{
	display: inline-block;
	background-image: url('../images/bgs/bgs.banner.png');
	background-repeat: repeat;
	background-position: 0px 0px;
	border: 1px dotted #246;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#content-loginform form.loginform{
	font-size: 10px;
}
#content-loginform form.loginform input.middle-input{
	display: block;
	width: 300px;
}
.advertices .box-info, .advertices .box-success, .advertices .box-alert, .advertices .box-error{
	margin-bottom: 20px;
	margin-top: 20px;
}
.advertices{
	display: inline-block;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background: none;
	float: left;
	background-image: url('../images/bgs/bgs.banner.png');
	background-repeat: repeat;
	background-position: 0px 0px;
}
.advertices .inner-adv{
	display: inline-block;
	width: 600px;
}