#footerContent{
	display: block;
	background-image: url('../images/bgs/bgs.body.footer.jpg');
	background-repeat: no-repeat;
	background-position: 50% 0px;
	padding-top: 30px;
}
#footer{
	display: block;
	background-image: url('../images/bgs/bgs.link.png');
	background-repeat: repeat;
	background-position: 0px 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #012;
	height: 60px;
}
#footer .delimiter{
	display: block;
	width: 1152px;
	text-align: left;
}

#footer .patrocinio{
	display: inline-block;
	height: 60px;
	float: left;
}
#footer .patrocinio .middleAdv{
	display; table-cell;
	height: 60px;
	width: 100%;
	vertical-align: middle;
	font-size: 10px;
	color: #405a6f;
}
#footer .patrocinio a{
	color: #d0eaff;
}
#footer .patrocinio .patItem{
	display: inline-block;
	height: 50px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	float: left;
	margin-right: 30px;
	margin-bottom: 5px;
}

#footer .patrocinio .webhost{
	background-image: url('../images/img/000webhost.com.png');
	width: 166px;
}
#footer .patrocinio .mediafire{
	background-image: url('../images/img/mediafire.com.png');
	width: 203px;
}
#footer .patrocinio .jquery{
	background-image: url('../images/img/jquery.com.png');
	width: 123px;
}
#footer .patrocinio .mootools{
	background-image: url('../images/img/mootools.com.png');
	width: 113px;
}
#footer .newsLetter{
	display: inline-block;
	height: 50px;
	width: 370px;
	background-image:url('../images/bdr/bdr.footer.newsletter.png');
	background-repeat: no-repeat;
	background-position: 0px 50%;
	float: left;
	padding-left: 35px;
	font-size: 10px;
	color: #405a6f;
}
#footer .newsLetter .newsLetterTitle{
	display: block;
	height: 50px;
	width: 100%;
	background-image: url('../images/bnr/news-letter.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}