@charset "utf-8";

#topbanner{
	display: block;
}
#topbanner .inbanner{
	display: block;
	width: 1152px;
	text-align: left;
}
#topbanner .topmenu{
	display: block;
	list-style: none;
}
#topbanner .topmenu li{
	display: inline-block;
	padding: 0px;
	margin: 0px;
	margin-left: 10px;
	padding-right: 10px;
	background-image: url('../images/bdr/bdr-menu.png');
	background-position: 100% 0px;
	background-repeat: no-repeat;
}
#topbanner .topmenu .graphite{
	display: inline-block;
	height: 70px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	color: #d0eaff;
}
#topbanner .topmenu .graphite:hover{	background-position: 0px -70px;	}
#topbanner .topmenu .blog		{	background-image: url('../images/bnr/blog.png'); width: 135px;		}
#topbanner .topmenu .gallery		{	background-image: url('../images/bnr/galerias.png'); width: 155px;	}
#topbanner .topmenu .portfolio	{	background-image: url('../images/bnr/portafolio.png'); width: 170px;	}
#topbanner .topmenu .contact		{	background-image: url('../images/bnr/contacto.png'); width: 170px;	}

#topbanner .useropt{
	display: inline-block;
	float: right;
	margin-top: 5px;
	text-align: right;
}
#topbanner .useropt a{
	display: inline-block;
	padding: 5px;
	padding-left: 23px;
	background-position: 0px 50%;
	background-repeat: no-repeat;
	color: #80aadf;
	font-size: 11px;
	font-weight: normal;
	margin-left: 5px;
	margin-right: 5px;
}
#topbanner .useropt a:hover{
	color: #a0caff;
}
#topbanner .useropt a.no-bold{
	font-weight: normal;
}
#topbanner .useropt a.rss		{ background-image: url('../images/ico/rss.png'); }
#topbanner .useropt a:hover.rss	{ background-image: url('../images/ico/rss-alt.png'); }
#topbanner .useropt a.user		{ background-image: url('../images/ico/user.png'); }
#topbanner .useropt a:hover.user	{ background-image: url('../images/ico/user-alt.png'); }
#topbanner .useropt a.logout		{ color: #ed1c24; background-image: url('../images/ico/exit.png'); }
#topbanner .useropt a:hover.logout	{ color: #f00; background-image: url('../images/ico/exit-alt.png'); }

#topbanner .useropt .input-search{
	display: inline-block;
	background-image: url('../images/bgs/bgs.search.left.png');
	background-repeat: no-repeat;
	background-position: 0px 50%;
	padding-left: 10px;
	margin-right: 12px;
}
#topbanner .useropt .input-search span{
	display: inline-block;
	background-image: url('../images/bgs/bgs.search.right.png');
	background-repeat: no-repeat;
	background-position: 100% 50%;
	padding-right: 3px;
	padding-left: 0px;
	padding-top: 5px;
	padding-bottom: 6px;
}
#topbanner .useropt form.search{
	display: block;
}
#topbanner .useropt .input-search span input[type=text]{
	background-color: transparent;
	color: #d0eaff;
	font-size: 10px;
	float: left;
	position: relative;
	top: 3px;
	text-align: left;
}
#topbanner .useropt .input-search span input[type=text].typeinput{
	display: inline-block;
	width: 232px;
	text-align: left;
}
#topbanner .useropt .input-search span button{
	background-color: transparent;
	padding: 0px;
	margin: 0px;
	float: left;
	text-align: left;
}
#topbanner .useropt .input-search span button img{
	display: inline-block;
	padding-top: 1px;
}

/*
*	Main banner
*/
#banner{
	display: block;
}
#banner .bnrcontent{
	display: block;
	padding-top: 35px;
	padding-bottom: 35px;
	background-image: url('../images/bnr/arkosnoemarenom.banner.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
#fade-top{
	background-image: url('../images/bgs/bgs.topfade.png');
	background-repeat: repeat-x;
	background-position: 0px 100%;
	display: block;
	height: 10px;
}
#fade-bottom{
	background-image: url('../images/bgs/bgs.bottomfade.png');
	background-repeat: repeat-x;
	background-position: 0px 0px;
	display: block;
	height: 10px;
}
#banner #mainbanner{
	display: block;	
	height: 150px;
	background-image: url('../images/bgs/bgs.banner.png');
	background-repeat: repeat;
	background-position: 0px 0px;
	border-top: 1px dotted #000;
	border-bottom: 1px dotted #000;
}
#banner #mainbanner .main-bannercontent{
	display: block;
	height: 150px;
	width: 1152px;
	text-align: left;
}
#banner #mainbanner .break{
	display: inline-block;
	width: 4px;
	height: 150px;
	float: left;
	background-image: url('../images/bdr/bdr.banner.png');
	background-position: 0px 50%;
	background-repeat: no-repeat;
}
#banner #mainbanner .logotype{
	display: inline-block;
	height: 150px;
	width: 384px;
	float: left;
	background-image: url('../images/bnr/arkosnoemarenom.png');
	background-repeat: no-repeat;
	background-position: 0px 50%;
	margin-left: 20px;
}
#banner #mainbanner .pagenatio{
	display: inline-block;
	float: left;
	height: 150px;
	width: 200px;
	margin-left: 200px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
#banner #mainbanner .blog		{	background-image: url('../images/bnr/bnr.banner.blog.png');		}
#banner #mainbanner .gallery		{	background-image: url('../images/bnr/bnr.banner.gallery.png');	}
#banner #mainbanner .portfolio	{	background-image: url('../images/bnr/bnr.banner.portfolio.png');	}
#banner #mainbanner .contact		{	background-image: url('../images/bnr/bnr.banner.contact.png');	}
#banner #mainbanner .search		{	background-image: url('../images/bnr/bnr.banner.search.png');	}

#banner #mainbanner .twitter{
	display: block;
	float: left;
	height: 150px;
	width: 344px;
	background-image: url('../images/ico/twitter_48.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
#banner #mainbanner .twitter .tooltip{
	display: block;
	height: 100px;
	width: 284px;
	margin-top: 10px;
	margin-left: 40px;
	background-image: url('../images/bdr/bdr.twitter.peak.png');
	background-position: 0px 15px;
	background-repeat: no-repeat;
	padding-left: 10px;
}
#banner #mainbanner .twitter .tooltip .feedtwitter{
	display: block;
	height: 120px;
	width: 276px;
	text-align: center;
}
#banner #mainbanner .twitter .textantialicing{
	display: block;
	height: 120px;
	width: 276px;
	text-align: left;
	vertical-align: middle;
}
#banner #mainbanner .twitter .twitteritem{
	display: block;
	font-size: 10px;
	color: #90baff;
	margin-top: 10px;
}
#banner #mainbanner .twitter .twitteritem .tweetitle{
	display: block;
	height: 70px;
}
#banner #mainbanner .twitter .twitteritem ul{
	display: block;
	list-style: none;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
#banner #mainbanner .twitter .twitteritem ul li{
	display: block;
	margin: 0px;
	padding: 0px;
	border: 0px;
	width: 286px;
}
#banner #mainbanner .twitter .twitteritem .pubdate{
	display: block;
	margin-top: 5px;
	color: #304a5f;
	font-style: italic;
	text-align : right;
}
#banner #mainbanner .twitter .twitteritem a{
	display: inline-block;
	color: #a6d62a;
	border-bottom: 1px dotted transparent;
}
#banner #mainbanner .twitter .twitteritem a:hover{
	border-bottom: 1px dotted #900;
}

#banner #mainbanner .twitter .twitteritem .tweet_content a{
	text-decoration: none;
	color: #5086ff;
}
#banner #mainbanner .twitter .twitteritem .tweet_content a:hover{
	text-decoration: none;
	color: #5086ff;
}