/**=============================================================================
**
*
*	File: stylesheet-msjboxes.css
*	
*	Autor: (c) 2009 Arkos Noem Arenom
*	
*	Description: 
*		Message boxes for advertices
*
*=============================================================================*/


.box-info, .box-success, .box-alert, .box-error{
	clear: both;
	border-width: 3px;
	border-style: solid;
	margin: 0px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 32px;
	padding-right: 8px;
	background-repeat: no-repeat;
	background-position: 0px 50%;
	text-align: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.box-info {
	color: #00529b;
	background-color: #bde5f8;
	background-image: url('../images/ico/info.png');
	border-color: #00529b;
}
.box-success {
	color: #4f8a10;
	background-color: #dff2bf;
	background-image:url('../images/ico/success.png');
	border-color: #4f8a10;
}
.box-alert {
	color: #9f6000;
	background-color: #feefb3;
	background-image: url('../images/ico/alert.png');
	border-color: #9f6000;
}
.box-error {
	color: #d8000c;
	background-color: #ffbaba;
	background-image: url('../images/ico/error.png');
	border-color: #d8000c;
}