.admin-account{
	display: inline-block;
	text-decoration: none;
	color: #d0eaff;
	background-image: url('../../images/bgs/admin-bg-links-site.png');
	background-repeat: repeat;
	background-position: 0px 0px;
	border: 1px solid #102a3f;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-bottom: 10px;
	margin-right: 5px;
}
.admin-account:hover{
	border: 1px solid #203a4f;
	text-decoration: underline;
}
.admin-account .actions{
	display: block;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 25px;
	padding-right: 7px;
	background-repeat: no-repeat;
	background-position: 5px 50%;
	font-size: 10px;
}
.admin-account .edit-info{
	background-image: url('../../images/icn/admin-16-edit-icn.png');
}
.admin-account .add-sticknote{
	background-image: url('../../images/icn/admin-16-notes-advertice.png');
}
.admin-account .edit-passwd{
	background-image: url('../../images/icn/admin-16-manage-account-icn.png');
}