.blog-options{
	display: inline-block;
	float: left;
	width: 250px;
}
.blog-options .heading{
	display: block;
	color: #c0daef;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	background-image:url('../../images/bgs/');
}
.mb-options{
	list-style: none;
}
.mb-options li a{
	display: block;
	text-decoration: none;
	border-bottom: 1px solid #1c2a39;
	font-size: 10px;
	color: #709abf;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	background-image:url('../../images/bdr/right-arrow.png');
	background-repeat: no-repeat;
	background-position: 5px 50%;
}
.mb-options li a:hover{
	color: #d0eaff;
}

.blog-entry{
	display: block;
}
.blog-entry thead tr{
	background-color: #1c2a39;
}
.blog-entry tbody tr a{
	text-decoration: none;
	color: #d0eaff;
}
.blog-entry tbody tr a:hover{
	text-decoration: underline;
}
.blog-entry thead tr td{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	color: #90badf;
}
.blog-entry tbody tr td{
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
}
.blog-entry tbody tr.on{
	color: #708a9f;
/*	background-color: #1c2a39;*/
}
.blog-entry tbody tr.off{
	color: #d0eaff;
	background-color: #0d131a;
}
.blog-entry tbody tr.on:hover, .blog-entry tbody tr.off:hover{
	color: #d0eaff;
	background-color: #18232f;
}

#accordion {
	margin:0px 0px;
}

h3.toggler {
	cursor: pointer;
	color: #d0eaff;
	font-weight: normal;
	font-size: 11px;
	background-color: #1c2a39;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: 1px solid #0c1a29;
}

div.element p, div.element h4 {
	margin:0px;
	padding:4px;
}


/******************************************************************************/
/*Blog Options*/
/******************************************************************************/

.page-actions{
	display: block;
	width: 1024px;
	text-align: right;
	background-image:url('../../images/bgs/admin-bg-page-actions.png');
	background-position: 100% 100%;
	background-repeat: no-repeat;
}
.page-actions a{
	display: inline-block;
	text-decoration: none;
	margin-left: 10px;
	background-repeat: repeat;
	background-position: 0px 0px;
	/*-moz-border-radius: 4px;
	-webkit-border-radius: 4px;*/
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border: 1px solid transparent;
	border-bottom: 0px;
	color: #b0cadf;
}
.page-actions a:hover{
	text-decoration: underline;
	border: 1px solid #102a3f;
	border-bottom: 0px;
	background-image:url('../../images/bgs/admin-bg-links-site.png');
}
.page-actions a.this{
	text-decoration: none;
	border: 1px solid #102a3f;
	border-bottom: 0px;
	background-image:url('../../images/bgs/admin-bg-links-site.png');
}
.page-actions a .menu{
	display: block;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	background-position: 7px 50%;
	background-repeat: no-repeat;
}
.page-actions a .edit-posts{
	background-image:url('../../images/icn/admin-16-edit-icn.png');
}
.page-actions a .add-posts{
	background-image:url('../../images/icn/admin-16-new-doc-icn.png');
}
.page-actions a .category-posts{
	background-image:url('../../images/icn/admin-16-splash-category-icn.png');
}


/******************************************************************************/
/*    Create Post    */
.input-text{
	border: 1px solid #102a3f;
	background-color: #0d131a;
	font-family: "Lucida Sans Unicode", Trebuchet MS, Arial, Sans-serif;
	font-size: 11px;
	color: #4f9cd0;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
}
.post-advanced-options{
	display: block;
	margin-left: 20px;
	width: 300px;
}
.post-advanced-options .content{
	display: block;
	padding-top: 0px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
}
.advanced-opt tr td{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}
.advanced-opt tr.on{
	background-color: #0f1821;
}

/* for button*/
button.submit-button{
	border: 0px;
	margin: 0px;
	padding: 0px;
	background-color: transparent;
	font-family: "Lucida Sans Unicode", Trebuchet MS, Arial, Sans-serif;
	font-size: 11px;
	color: #d0eaff;
}
button.submit-button .in-submit-left{
	display: block;
	padding-left: 5px;
	background-image:url('../../images/btn/admin-btn-submit-button-left.png');
	background-repeat: no-repeat;
	background-position: 0px 50%;
	margin-right: 10px;
}
button.submit-button .in-submit-left .in-submit-right{
	display: block;
	background-image:url('../../images/btn/admin-btn-submit-button-right.png');
	background-repeat: no-repeat;
	background-position: 100% 50%;
	padding-right: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 10px;
}
button:hover.submit-button .in-submit-left{
	background-image:url('../../images/btn/admin-btn-submit-button-hover-left.png');
}
button:hover.submit-button .in-submit-left .in-submit-right{
	background-image:url('../../images/btn/admin-btn-submit-button-hover-right.png');
}


/* for link*/
a.submit-button{
	display: inline-block;
	text-decoration: none;
	border: 0px;
	margin: 0px;
	padding: 0px;
	background-color: transparent;
	font-family: "Lucida Sans Unicode", Trebuchet MS, Arial, Sans-serif;
	font-size: 11px;
	color: #d0eaff;
}
a.submit-button .in-submit-left{
	display: block;
	padding-left: 5px;
	background-image:url('../../images/btn/admin-btn-submit-button-left.png');
	background-repeat: no-repeat;
	background-position: 0px 50%;
	margin-right: 10px;
}
a.submit-button .in-submit-left .in-submit-right{
	display: block;
	background-image:url('../../images/btn/admin-btn-submit-button-right.png');
	background-repeat: no-repeat;
	background-position: 100% 50%;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}
a:hover.submit-button .in-submit-left{
	background-image:url('../../images/btn/admin-btn-submit-button-hover-left.png');
}
a:hover.submit-button .in-submit-left .in-submit-right{
	background-image:url('../../images/btn/admin-btn-submit-button-hover-right.png');
}

.checked{
	background-image:url(../js/images/chk_on.png)
}
.unchecked{
	background-image:url(../js/images/chk_off.png)
}
.selected{
	background-image:url(../js/images/rdo_on.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.unselected{
	background-image:url(../js/images/rdo_off.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}