.advertices{
	display: block;
	width: 1024px;
	margin-top: 20px;
	text-align: left;
	background-image: url('../../images/bgs/admin-bg-advertices.png');
	background-position: 100% 100%;
	background-repeat: no-repeat;
	border: 1px solid #203a4f;
}
.advertices .in-adv{
	display: block;
	padding: 20px;
}
.advertices .black-blue{
	color: #507a9f;
}
.advertices .adv{
	display: block;
	color: #507a9f;
}
.advertices a.styler{
	display: inline-block;
	text-decoration: none;
	padding-left: 18px;
	background-position: 0px 50%;
	background-repeat: no-repeat;
}
.advertices a:hover.styler{
	text-decoration: underline;
} 
.advertices .add-post{
	color: #09f;
	background-image:url('../../images/icn/admin-16-new-doc-icn.png');
}
.advertices .man-account{
	color: #d0eaff;
	background-image:url('../../images/icn/admin-16-manage-account-icn.png');
}
.advertices .send-email{
	color: #d0eaff;
	background-image:url('../../images/icn/admin-16-send-email-advertice.png');
}

.index-content{
	display: block;
	width: 1024px;
	text-align: left;
	margin-top: 20px;
	clear: both;
}
.index-content .buttons{
	list-style: none;
}
.index-content .buttons li{
	display: inline-block;
	float: left;
	padding: 10px;
}
.index-content .buttons li a{
	display: block;
	text-decoration: none;
	text-align: center;
	color: #d0eaff;
	background-image:url('../../images/bgs/admin-bg-links-site.png');
	border: 1px solid #102a3f;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.index-content .buttons li a:hover{
	text-decoration: underline;
	border: 1px solid #203a4f;
}
.index-content .buttons li .gen-link{
	display: block;
	width: 100px;
	padding-top: 50px;
	padding-bottom: 10px;
	background-repeat: no-repeat;
	background-position: 50% 10px;
}
.index-content .buttons li .settings{
	background-image:url('../../images/icn/admin-settings.png');
}
.index-content .buttons li .layout{
	background-image:url('../../images/icn/admin-layout.png');
}
.index-content .buttons li .registry{
	background-image:url('../../images/icn/admin-registry.png');
}
.index-content .buttons li .users{
	background-image:url('../../images/icn/admin-general-users.png');
}
.index-content .buttons li .component-management{
	background-image:url('../../images/icn/admin-general-install.png');
}
.index-content .buttons li .spam{
	background-image:url('../../images/icn/admin-trash-full.png');
}
.index-content .buttons li .url-manager{
	background-image:url('../../images/icn/admin-network.png');
}
.index-content .buttons li .view-site{
	background-image:url('../../images/icn/admin-view-site.png');
}
.index-content .buttons li .blog{
	background-image:url('../../images/icn/admin-blog.png');
}
.index-content .buttons li .comments{
	background-image:url('../../images/icn/admin-comments.png');
}
.index-content .buttons li .images{
	background-image:url('../../images/icn/admin-general-picture.png');
}
.index-content .buttons li .docs{
	background-image:url('../../images/icn/admin-general-archives.png');
}
.index-content .buttons li .blogroll{
	background-image:url('../../images/icn/admin-general-public.png');
}
.index-content .buttons li .add-note{
	background-image:url('../../images/icn/admin-notes.png');
}
.index-content .buttons li .email{
	background-image:url('../../images/icn/admin-email.png');
}
.index-content .buttons li .account{
	background-image:url('../../images/icn/admin-user.png');
}