#div-footer{
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
	background-color: #1c2a39;
}
#div-footer .bottom-content{
	display: block;
	width: 1024px;
	text-align: left;
}
.copy-right{
	display: block;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 1024px;
	text-align: left;
	font-family: "Trebuchet MS", Arial, Sans-serif;
	font-size: 10px;
	word-spacing: 2px;
}
.copy-right .blue{
	color: #507a9f;
}
.copy-right .blue a{
	text-decoration: none;
	color: #0985bc;
	border-bottom: 1px solid transparent;
}
.copy-right .blue a:hover{
	text-decoration: none;
	color: #0985bc;
	border-bottom: 1px solid #0985bc;
}