.addCategory{
	display: inline-block;
	text-decoration: none;
	color: #d0eaff;
	background-image: url('../../images/bgs/admin-bg-links-site.png');
	background-repeat: repeat;
	background-position: 0px 0px;
	border: 1px solid #102a3f;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-bottom: 10px;
	margin-right: 5px;
}
.addCategory span{
	display: block;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 25px;
	padding-right: 7px;
	background-image: url(../../images/icn/admin-16-add.png);
	background-repeat: no-repeat;
	background-position: 5px 50%;
	font-size: 10px;
}
.addCategory:hover{
	border: 1px solid #203a4f;
	text-decoration: underline;
}
#mb_inline{
	display: none;
}
.add-category{
	display: block;
	padding: 20px;
	overflow: auto;
}
.edit-category{
	display: none;
}
/*.addCategory span{
	display: block;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 25px;
	padding-right: 7px;
	background-image: url(../../images/icn/admin-16-add.png);
	background-repeat: no-repeat;
	background-position: 5px 50%;
	font-size: 10px;
}
.addCategory:hover{
	border: 1px solid #203a4f;
	text-decoration: underline;
}*/