a.gen-file{
	display: inline-block;
	float: left;
	margin: 5px;
	color: #d0eaff;
	text-decoration: none;
	background-image: url('../../images/bgs/admin-bg-links-site.png');
	border: 1px solid #234;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
a.gen-file:hover{
	border: 1px solid #456;
}
a.gen-file .folder{
	display: block;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 45px;
	background-image:url('../../images/icn/admin-general-folder-close.png');
	background-repeat: no-repeat;
	background-position: 50% 10px;
	font-size: 10px;
	width: 60px;
	text-align: center;
}
a.gen-file .image{
	display: block;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
	/*background-image:url('../../images/icn/admin-general-folder-close.png');*/
	background-repeat: no-repeat;
	background-position: 50% 10px;
	font-size: 10px;
	width: 60px;
	text-align: center;
}
a.gen-file .return-back{
	display: block;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 45px;
	background-image:url('../../images/icn/admin-back.png');
	background-repeat: no-repeat;
	background-position: 50% 10px;
	font-size: 10px;
	width: 60px;
	text-align: center;
}

.uploadFile{
	display: inline-block;
	text-decoration: none;
	color: #d0eaff;
	background-image: url('../../images/bgs/admin-bg-links-site.png');
	background-repeat: repeat;
	background-position: 0px 0px;
	border: 1px solid #102a3f;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-bottom: 10px;
	margin-right: 5px;
}
.uploadFile span{
	display: block;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 25px;
	padding-right: 7px;
	background-image: url('../../images/icn/admin-transfer-file.png');
	background-repeat: no-repeat;
	background-position: 5px 50%;
	font-size: 10px;
}
.uploadFile:hover{
	border: 1px solid #203a4f;
	text-decoration: underline;
}
.addFolder{
	display: inline-block;
	text-decoration: none;
	color: #d0eaff;
	background-image: url('../../images/bgs/admin-bg-links-site.png');
	background-repeat: repeat;
	background-position: 0px 0px;
	border: 1px solid #102a3f;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-bottom: 10px;
	margin-right: 5px;
}
.addFolder span{
	display: block;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 25px;
	padding-right: 7px;
	background-image: url('../../images/icn/admin-folder-add.png');
	background-repeat: no-repeat;
	background-position: 5px 50%;
	font-size: 10px;
}
.addFolder:hover{
	border: 1px solid #203a4f;
	text-decoration: underline;
}
.images_in_server a.delete{
	display: none;
}
.images_in_server:hover a.delete{
	display: inline-block;
	position: static;
}
.upload-gallery{
	display: inline-block;
	text-decoration: none;
	color: #d0eaff;
	background-image: url('../../images/bgs/admin-bg-links-site.png');
	background-repeat: repeat;
	background-position: 0px 0px;
	border: 1px solid #102a3f;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-bottom: 10px;
	margin-right: 5px;
}
.upload-gallery span{
	display: block;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 25px;
	padding-right: 7px;
	background-image: url('../../images/icn/admin-transfer-file.png');
	background-repeat: no-repeat;
	background-position: 5px 50%;
	font-size: 10px;
}
.upload-gallery:hover{
	border: 1px solid #203a4f;
	text-decoration: underline;
}
.gallery-descrition{
	display: block;
	color: #678;
	margin-bottom: 5px;
}
.gallery-title{
	display: block;
	color: #d0eaff;
	margin-top: 5px;
}