@import url(admin-blog-index.css);
*{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-family: "Lucida Sans Unicode", Trebuchet MS, Arial, Sans-serif;
}
body{
	font-size: 11px;
	color: #d0eaff;
	background-color: #121d29;
	margin-top: 0px;
}
td{
	font-size: 11px;
	color: #d0eaff;
}
.body-login{
	display: block;
	width: 600px;
	text-align: left;
	background-image: url('../../images/bgs/admin-bg-advertices.png');
	background-position: 100% 100%;
	background-repeat: no-repeat;
	border: 1px solid #203a4f;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.body-login .login td a{
	text-decoration: none;
	color: #90badf;
}
.body-login .login{
	display: block;
	padding: 20px;
	padding-top: 0px;
}
.body-login .login .login-form tr td{
	padding: 5px;
}
.body-login .login .login-input{
	border: 1px solid #102a3f;
	background-color: #0d131a;
	font-family: "Lucida Sans Unicode", Trebuchet MS, Arial, Sans-serif;
	font-size: 11px;
	color: #4f9cd0;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 8px;
	padding-right: 8px;
}
.login-banner{
	display: inline-block;
	height: 74px;
	width: 240px;
	background-image:url('../../images/bnr/admin-bnr-top.png');
	background-repeat: no-repeat;
	background-position: -6px 50%;
}
/*----------------------------------------------------------------------------*/
/*    Sistema de alertas    */

.type-info, .type-exito, .type-alerta, .type-error {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
    font-size: 12px;
    border: 1px solid;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background-repeat: no-repeat;
    background-position: 10px 50%;
    display: block;
    -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-align: left;
}
.type-info ul, .type-exito ul, .type-alerta ul, .type-error ul{
	list-style: none;
}
.type-info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../../images/icn/info.png');
}
.type-exito {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../../images/icn/exito.png');
}
.type-alerta {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../../images/icn/alerta.png');
}
.type-error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../../images/icn/error.png');
}