@import url(admin-nav-bar.css);
@import url(admin-index.css);
@import url(admin-footer.css);
@import url(admin-blog-index.css);
@import url(sexyalertbox.css);
@import url(admin-blog-category.css);
@import url(mediaboxAdv.css);
@import url(admin-images-index.css);
@import url(Stickman.MultiUpload.css);
@import url(admin-users.css);
@import url(admin-blog-roll.css);
*{
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      font-family: "Lucida Sans Unicode", Trebuchet MS, Arial, Sans-serif;
      letter-spacing: 0.03em;
}
body{
      font-size: 11px;
      color: #d0eaff;
      background-color: #121d29;
      background-image:url('../../images/bgs/admin-bg-body.png');
      background-repeat: repeat-x;
      background-position: 0px 0px;
      margin-top: 5px;
}

h2.admin{
	display: block;
	font-family: "Calibri", "Lucidad Sans Unicode", Trebuchet MS, Arial, Sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #7fae08;
	margin-bottom: 20px;
}

/*
	Crear una barra de estilo para las trazas
*/
#traza{
	display: block;
	background-image:url('../../images/btn/admin-btn-arrow-traza-left.png');
	background-repeat: no-repeat;
	background-position: 0px 50%;
	padding-left: 5px;
	height: 35px;
}
#traza a.item{
	display: inline-block;
	text-decoration: none;
	text-transform: capitalize;
	background-image:url('../../images/btn/admin-btn-middle-traza.png');
	background-repeat: repeat-x;
	background-position: 0px 50%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 15px;
	float: left;
	color: #90badf;
}
#traza a.item:hover{
	text-decoration: underline;
}
#traza span.middle{
	display: inline-block;
	width: 19px;
	height: 35px;
	background-image:url('../../images/btn/admin-btn-arrow-traza-middle.png');
	background-repeat: repeat-x;
	background-position: 0px 50%;
	float: left;
}
#traza span.right{
	display: inline-block;
	width: 19px;
	height: 35px;
	background-image:url('../../images/btn/admin-btn-arrow-traza-right.png');
	background-repeat: repeat-x;
	background-position: 0px 50%;
	float: left;
}

/*----------------------------------------------------------------------------*/
/*    Sistema de alertas    */

.type-info, .type-exito, .type-alerta, .type-error {
    /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
    font-size: 12px;*/
    border: 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background-repeat: no-repeat;
    background-position: 10px 50%;
    display: block;
    -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.type-info ul, .type-exito ul, .type-alerta ul, .type-error ul{
	list-style: none;
}
.type-info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../../images/icn/info.png');
}
.type-exito {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../../images/icn/exito.png');
}
.type-alerta {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../../images/icn/alerta.png');
}
.type-error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../../images/icn/error.png');
}