.footer{
	display: block;
	clear: both;
	padding-top: 20px;
}
.footer .content-footer{
	display: block;
	background-color: #1c2a39;
	background-image:url('../../images/bgs/admin-bg-footer-line.jpg');
	background-repeat: no-repeat;
	background-position: 0px 50%;
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer .content-footer .content{
	display: block;
	width: 1024px;
	text-align: left;
}

.footer .credits{
	display: block;
	width: 1024px;
	text-align: left;
	font-size: 10px;
	color: #90bade;
	margin-bottom: 20px;
}
.footer .credits .cr-bottom{
	display: block;
	color: #507a9f;
}
.footer .credits .cr-bottom a{
	text-decoration: none;
	color: #39b5ec;
	border-bottom: 1px solid transparent;
}
.footer .credits .cr-bottom a:hover{
	text-decoration: none;
	color: #39b5ec;
	border-bottom: 1px solid #39b5ec;
}

/*Border of footer*/
.footer .top-nav{
	display: block;
	height: 10px;
	background-image:url('../../images/bgs/admin-bg-bottom-tab.png');
	background-repeat: repeat-x;
	background-position: 0px 0px;
}
.footer .bottom-nav{
	display: block;
	height: 10px;
	background-image:url('../../images/bgs/admin-bg-top-tab.png');
	background-repeat: repeat-x;
	background-position: 0px 0px;
}