
#nav-bar{
	display: block;
	height: 74px;
	width: 1152px;
	text-align: left;
	background-image:url('../../images/bgs/admin-bg-nav-bar.png');
      background-repeat: no-repeat;
      background-position: 100% 50%;
}

.top-banner{
      display: inline-block;
      height: 74px;
      width: 240px;
      float: left;
      background-image:url('../../images/bnr/admin-bnr-top.png');
      background-repeat: no-repeat;
      background-position: 0px 50%;
}
.dvsr{
	display: inline-block;
	height: 74px;
	width: 2px;
	float: left;
	background-image:url('../../images/bdr/admin-bdr-top-banner.png');
      background-repeat: no-repeat;
      background-position: 100% 50%;
      margin-left: 10px;
      margin-right: 10px;
}
.arrow-dvsr{
	display: inline-block;
	height: 74px;
	width: 20px;
	float: left;
	background-image:url('../../images/bdr/admin-bdr-arrow-top.png');
      background-repeat: no-repeat;
      background-position: 0px 50%;
}
.site-info{
	display: inline-block;
	width: 300px;
	height: 74px;
	float: left;
	text-align: left;
	/*background-color: #101a1f;*/
}
.site-info a{
	text-decoration: none;
	color: #abc;
}
.site-info a:hover{
	text-decoration: none;
	color: #d0eaff;
}
a.site-logout{
	display: inline-block;
	float: left;
	width: 118px;
	height: 74px;
	text-decoration: none;
	color: #d0eaff;
	font-weight: normal;
	background-image:url('../../images/icn/admin-logout.png');
	background-position: 0px 50%;
	background-repeat: no-repeat;
}
a.site-logout .in-logout{
	display: table-cell;
	padding: 5px;
	padding-left: 40px;
	height: 74px;
	width: 108px;
	vertical-align: middle;
}
a:hover.site-logout .in-logout{
	text-decoration: underline;
}



.site-nav-bar{
	display: inline-block;
	float: left;
	width: 450px;
	height: 74px;
	background-image:url('../../images/bgs/admin-bg-links-site.png');
	background-repeat: repeat;
	background-position: 0px 0px;
	margin-left: 10px;
}

.site-nav-bar #kwick{
	display: block;
}
.site-nav-bar #kwick .kwicks{
	height:57px;
	list-style-type:none;
	margin:0;
	padding:0;
	text-decoration: none;
	color: #8cc212;
	/*color: #79af00;*/
}
.site-nav-bar #kwick li{
	float:right;
	background-image:url('../../images/bgs/admin-bg-left-tab.png');
	background-repeat: repeat-y;
	background-position: 100% 0px;
}
.site-nav-bar #kwick .kwick{
	display:block;
	cursor:pointer;
	overflow:hidden;
	height:74px;
	width:0px;
	padding-left: 45px;
	text-align: left;
	text-decoration: none;
	color: #8cc212;
	font-size: 10px;
}
.site-nav-bar #kwick .kwick span{
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	height: 74px;
	width: 100px;
}

.site-nav-bar #kwick .dashboard{
	background-position: 5px 50%;
	background-repeat: no-repeat;
	background-image:url('../../images/icn/admin-dashboard.png');
}
.site-nav-bar #kwick .archives{
	background-position: 5px 50%;
	background-repeat: no-repeat;
	background-image:url('../../images/icn/admin-general-archives.png');
}
.site-nav-bar #kwick .notes{
	background-position: 5px 50%;
	background-repeat: no-repeat;
	background-image:url('../../images/icn/admin-notes.png');
}
.site-nav-bar #kwick .users{
	background-position: 5px 50%;
	background-repeat: no-repeat;
	background-image:url('../../images/icn/admin-general-users.png');
}
.site-nav-bar #kwick .faqs{
	background-position: 5px 50%;
	background-repeat: no-repeat;
	background-image:url('../../images/icn/admin-help.png');
}
.site-nav-bar #kwick .picture{
	background-position: 5px 50%;
	background-repeat: no-repeat;
	background-image:url('../../images/icn/admin-general-picture.png');
}
.site-nav-bar #kwick .preferences{
	background-position: 5px 50%;
	background-repeat: no-repeat;
	background-image:url('../../images/icn/admin-general-general-preferences.png');
}
.site-nav-bar #kwick .logout{
	background-position: 5px 50%;
	background-repeat: no-repeat;
	background-image:url('../../images/icn/system-log-out.png');
}