/* mediaboxAdvanced - black theme */
#mbOverlay {
	position: absolute;
	z-index: 9998;
	left: 0;
	width: 100%;
	background-color: #000000;
	cursor: pointer;
}

#mbOverlay.mbOverlayFF {
	background: transparent url('http://localhost/arkosBlog/data/css/images/80.png') repeat;
}

#mbOverlay.mbOverlayIE {
	background: transparent url('http://localhost/arkosBlog/data/css/images/50.gif') repeat;
}

#mbCenter, #mbBottomContainer {
	position: absolute;
	z-index: 9999;
	left: 50%;
	overflow: hidden;
	background-color: #121d29;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.mbLoading {
	background: #121d29 url('http://localhost/arkosBlog/data/css/images/BlackLoading.gif') no-repeat center;
}

#mbImage {
	position: absolute;
	left: 0;
	top: 0;
	border: 10px solid #000;
	background-repeat: no-repeat;
/*	Sets the style for inline content, if no style is given	*/
	font-family: Myriad, Verdana, Arial, Helvetica, sans-serif;
	line-height: 19px;
	font-size: 12px;
	color: #d0eaff;
	text-align: left;
}

/*	Sets the style for inline content, if no style is given	*/
#mbImage a, #mbImage a:link, #mbImage a:visited {
	color: #708a9f;
	text-decoration: none;
}

/*	Sets the style for inline content, if no style is given	*/
#mbImage a:hover, #mbImage a:active {
	color: #d0eaff;
}

#mbBottom {
	font-family: Myriad, Verdana, Arial, Helvetica, sans-serif;
	line-height: 19px;
	font-size: 12px;
	color: #d0eaff;
	text-align: left;
	border: 10px solid #000;
	border-top-style: none;
	display: none;
}

#mbTitle {
	display: none;
	color: #d0eaff;
	font-weight: bold;
	line-height: 20px;
	font-size: 12px;
}

#mbNumber {
	display: inline;
	color: #d0eaff;
	line-height: 14px;
	font-size: 10px;
}

#mbCaption {
	display: block;
	color: #d0eaff;
	line-height: 14px;
	font-size: 10px;
}

#mbPrevLink, #mbNextLink, #mbCloseLink {
	display: block;
	float: right;
	height: 20px;
	width: 46px;
	background: transparent url('http://localhost/arkosBlog/data/css/images/BlackClose.gif') no-repeat center;
	margin: 0;
	outline: none;
}

#mbPrevLink {
	width: 69px;
	background: transparent url('http://localhost/arkosBlog/data/css/images/BlackPrevious.gif') no-repeat center;
}

#mbNextLink {
	width: 41px;
	background: transparent url('http://localhost/arkosBlog/data/css/images/BlackNext.gif') no-repeat center;
}

#mbCloseLink {
	width: 46px;
	/*background: transparent url('http://localhost/arkosBlog/data/css/images/BlackClose.gif') no-repeat center;*/
	background: transparent url('../data/css/images/BlackClose.gif') no-repeat center;
}

#mbError {
	position: relative;
	top: 30%;
	font-family: Myriad, Verdana, Arial, Helvetica, sans-serif;
	line-height: 19px;
	font-size: 12px;
	color: #d0eaff;
	text-align: center;
	border: 10px solid #700;
	padding: 20px 10px 30px;
	margin: auto;
}