#SexyAlertBox-Box {
	padding-bottom: 24px;
	background: url('../../images/img/bg-box-bottom.png') bottom left no-repeat !important;
	background: url('../../images/img/bg-box-bottom.gif') bottom left no-repeat;
}

#SexyAlertBox-InBox {
  padding-top: 15px;
  background: url('../../images/img/bg-box-top.png') top left no-repeat !important;	
  background: url('../../images/img/bg-box-top.gif') top left no-repeat;	
}

#SexyAlertBox-BoxContent {
  background: url('../../images/img/bg-box-body.png') top left repeat-y !important;
  background: url('../../images/img/bg-box-body.gif') top left repeat-y;
  padding: 0px 20px;
}

#SexyAlertBox-BoxContenedor {
  padding: 0px 0px 5px 55px;
  text-align: left;
  font-family: "Lucida Sans Unicode", Trebuchet MS, Arial, Sans-serif;
  font-size: 11px;
  color: #406a8f;
}
#SexyAlertBox-BoxContenedor b{
	font-family: "Lucida Sans Unicode", Trebuchet MS, Arial, Sans-serif;
	font-size: 11px;
	color: #406a8f;
}

#SexyAlertBox-BoxContenedor h1,#SexyAlertBox-BoxContenedor h2,#SexyAlertBox-BoxContenedor h3,#SexyAlertBox-BoxContenedor b,#SexyAlertBox-BoxContenedor strong{
  text-align: left;
  font-family: "Lucida Sans Unicode", Trebuchet MS, Arial, Sans-serif;
  font-size: 11px;
  color: #406a8f;
  font-weight:bold;
  margin:0px;
  padding:0px;
}

#SexyAlertBox-Buttons{
  text-align:right;
}

#SexyAlertBox-Buttons input {
	border: 1px solid #eaeaea;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #fafafa;
	font-family: "Lucida Sans Unicode", Trebuchet MS, Arial, Sans-serif;
	font-size: 10px;
	color: #707070;
	margin-left: 5px;
	margin-right: 5px;
	letter-spacing: 0px;
	word-spacing: 0px;
}

#SexyAlertBox-BoxContenedor #BoxPromptInput{
  margin-top:5px;
}

#SexyAlertBox-Box .BoxAlert {
  background: url('../../images/img/dialog-warning.png') top left no-repeat;
}

#SexyAlertBox-Box .BoxConfirm {
  background: url('../../images/img/dialog-help.png') top left no-repeat;
}

#SexyAlertBox-Box .BoxPrompt {
  background: url('../../images/img/dialog-help.png') top left no-repeat;
}

#SexyAlertBox-Box .BoxInfo {
  background: url('../../images/img/dialog-information.png') top left no-repeat;
}

#SexyAlertBox-Box .BoxError {
  background: url('../../images/img/dialog-error.png') top left no-repeat;
}