div.multiupload{
	display: block;
	width: 300px;
	border: 1px solid #345;
	float: right;
	padding:5px;
	background-color: #012;
	font-family: "Lucida Sans Unicode", Trebuchet MS, Arial, Sans-serif;
	font-size: 10px;
	color: #d0eaff;
}
div.multiupload input{
	border: 1px;
	padding: 0px;
}
div.multiupload div.list{
	display: block;
	border:1px solid #345;
	background: #123;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
}
div.multiupload div.list div.item{
	margin:1px;
	background: #123;
	padding-top: 4px;
	padding-bottom: 5px;
	text-align:left;
}
div.multiupload div.list div.item:hover{
	background: #234;
}
div.multiupload div.list img{
	float: left;
	margin: 0px;
	margin-right: 20px;
	cursor: pointer;
}
