@import url(style-banner.css);
@import url(style-footer.css);
@import url(style-index.css);
@import url(niceforms-default.css);
@import url(style-gallery.css);
@import url(jquery.lightbox-0.5.css);
@import url(../highlighter/styles/shCore.css);
@import url(../highlighter/styles/shThemeDefault.css);
*{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	line-height: 20px;
	word-spacing: 2px;
	letter-spacing: 0;
	font-family: "Trebuchet MS", Arial, Sans-serif;
}
body{
	font-size: 11px;
	color: #678;
	background-color:#fff;
	background-image: url('../../images/bgs/bg-body.jpg');
	background-repeat: repeat-x;
	background-position: 0px 0px;
	margin-bottom: 30px;
	padding-top: 0px;
}
#div-body{
	display: block;
	width: 1024px;
	text-align: left;
}
.global-black-char{
	color: #789;
}
.global-date{
	color: #abc;
}
.form-info{
	display: inline-block;
	font-size: 10px;
	font-style: italic;
	color: #89a;
	margin-left: 5px;
}
.form-info:before{
	content: "*";
	color: #ed1c24;
}
code{
	display: block;
	background-color: #fafafa;
	border: 1px solid #eaeaea;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#div-content{
	display: block;
	background-color: #fff;
	border-left: 1px solid #f4f4f4;
	border-right: 1px solid #f4f4f4;
}
#div-content .write-space{
	display: block;
	padding-left: 10px;
	padding-right: 10px;
}
#div-content .top-margin{
	display: block;
	height: 10px;
	background-image:url('../../images/bgs/bg-content-blog-top-archives.png');
	background-position: 0px 0px;
	background-repeat: repeat-x;
}
#div-content .bottom-margin{
	display: block;
	height: 10px;
	background-image:url('../../images/bgs/bg-content-blog-bottom-archives.png');
	background-position: 0px 0px;
	background-repeat: repeat-x;
}

/*----------------------------------------------------------------------------*/
/* Avisos, alertas e infos */
.type-info, .type-exito, .type-alerta, .type-error {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
    font-size:12px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    display: block;
}
.type-info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../../images/icn/info.png');
}
.type-exito {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../../images/icn/exito.png');
}
.type-alerta {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../../images/icn/alerta.png');
}
.type-error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../../images/icn/error.png');
}

#error-advertice{
	display:block;
	padding: 20px;
	height: 560px;
	background-image: url(../../images/img/error_thumb.jpg);
	background-repeat: no-repeat;
	background-position: 100% 0px;
}