/* Estilo para el index-home */
#main-content{
	display: block;
	width: 570px;
}

#main-content .post-title{
	display: block;
	font-size: 20px;
	color: #234;
}
#main-content .post-title a{
	text-decoration: none;
	color: #234;
}
#main-content .post-title a:hover{
	text-decoration: underline;
}
#main-content .post-info{
	display: block;
	font-size: 10px;
	color: #abc;
	margin-top: 5px;
	margin-bottom: 5px;
}
#main-content .post-info a{
	text-decoration: none;
	color: #456;
}
#main-content .post-info a:hover{
	text-decoration: underline;
	color: #456;
}
#main-content .post-content{
	display: block;
	color: #678;
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #f0f0f0;
}
#main-content .post-content a{
	text-decoration: none;
	color: #8fb0de;
}
#main-content .post-content a:hover{
	text-decoration: underline;
}
#main-content .post-content a.download{
	display: inline-block;
	border: 1px solid #eaeaea;
	background-color: #fafafa;
	background-image:url('../../images/icn/16-admin-general-install.png');
	background-repeat: no-repeat;
	background-position: 5px 50%;
	padding: 5px;
	padding-left: 25px;
	padding-right: 8px;
	color: #6f90be;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
#main-content .post-content a.view{
	display: inline-block;
	border: 1px solid #eaeaea;
	background-color: #fafafa;
	background-image:url('../../images/icn/16-page-white-go.png');
	background-repeat: no-repeat;
	background-position: 5px 50%;
	padding: 5px;
	padding-left: 25px;
	padding-right: 8px;
	color: #6f90be;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
#main-content .post-content a:hover.download, #main-content .post-content a:hover.view{
	text-decoration: none;
	border: 1px solid #e0e0e0;
}
#main-content .post-content img{
	padding: 3px;
	margin: 5px;
	border: 1px solid #ccc;
}
#main-content .post-content ul, #main-content .post-content ol{
	list-style-position: inside;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#main-content .comments{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 10px;
	border-top: 1px solid #eaeaea;
}
#main-content .comments .com-autor{
	display: block;
	font-weight: bold;
	color: #ed693d;
	text-transform: capitalize;
}
#main-content .comments .com-date{
	display: block;
	float: right;
	color: #789;
}
#main-content .comments .com-comment{
	display: block;
	color: #456;
	width: 490px;
}
#main-content .comments .on{
	display: block;
	background-color: #fafafa;
	border-bottom: 1px solid #eaeaea;
	padding: 15px;
}
#main-content .comments .off{
	display: block;
	background-color: #fff;
	border-bottom: 1px solid #eaeaea;
	padding: 15px;
}
#main-content h2.comments-in{
	font-size: 14px;
	color: #345;
}
#main-content .comments-form{
	display: block;
	margin-top: 30px;
}
#main-content .comments-form h2{
	font-size: 14px;
	color: #345;
}
#main-content .comments-form .form-info{
	display: inline-block;
	font-size: 10px;
	font-style: italic;
	color: #89a;
	margin-left: 5px;
}
#main-content .comments-form .form-info:before{
	content: "*";
	color: #ed1c24;
}

/*  Paginacion  */
#main-content .pagination{
	display: block;
	float: right;
	margin-top: 20px;
}
#main-content .pagination a{
	display: inline-block;
	float: left;
	text-decoration: none;
	margin-right: 5px;
	/*border: 1px solid #f0f0f0;*/
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	background-image: url('../../images/btn/btn-pagination-left.png');
	background-position: 0px 50%;
	background-repeat: no-repeat;
	font-size: 10px;
	/*background-color: #000;*/
}
#main-content .pagination a span{
	display: block;
	padding-right: 10px;
	padding-left: 5px;
	padding-top: 4px;
	padding-bottom: 3px;
	background-image: url('../../images/btn/btn-pagination-right.png');
	background-position: 100% 50%;
	background-repeat: no-repeat;
	color: #ccc;
}
#main-content .pagination a:hover span{
	color: #fff;
}

.center-content{
	display: block;
	width: 210px;
}
.table-title{
	display: block;
	background-image: url('../../images/btn/btn-title-left.png');
	background-position: 0px 50%;
	background-repeat: no-repeat;
	padding-left: 5px;
}
.table-title span{
	display: block;
	background-image: url('../../images/btn/btn-title-right.png');
	background-position: 100% 50%;
	background-repeat: no-repeat;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #fff;
	text-transform: capitalize;
}
.list-links{
	display: block;
	margin-bottom: 20px;
}
.list-links a{
	display: block;
	margin-left: 5px;
	margin-right: 5px;
	text-decoration: none;
	color: #345;
	font-size: 10px;
	border-bottom: 1px solid #f0f0f0;
	padding-top: 1px;
	padding-bottom: 1px;
}
.list-links a span{
	color: #abc;
}
.list-links a:hover{
	text-decoration: underline;
}
.list-links a:hover span{
	text-decoration: none;
}

.right-content{
	display: block;
	width: 200px;
}
.right-content .about-me{
	display: block;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 10px;
	color: #456;
	margin-bottom: 20px;
}
.right-content .about-me a{
	text-decoration: none;
	color: #ed693d;
}
.right-content .about-me a:hover{
	text-decoration: underline;
}
.center-content .list-links ul li a{
	color: #789;
	border-bottom: 1px solid #f4f4f4;
	background-color: #fafafa;
}
.center-content .list-links div.selected a{
	color: #ed1c24;
}
.menucontents{
	list-style: none;
	display: block;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #fafafa;
	margin-left: 5px;
	margin-right: 5px;
}