/* CSS Document */
#footer{
	display: block;
	background-color: #000;
	color: #def;
	background-image:url('../../images/bgs/bg-footer.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
#footer .bloque{
	display: block;
	width: 323px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}
#footer .bloque h3{
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: normal;
	color: #a9c4e3;
}
#footer .bloque a{
	text-decoration: none;
	color: #a9c4e3;
}
#footer .bloque a:hover{
	text-decoration: underline;
	color: #a9c4e3;
}
#footer .explorer{
	list-style: none;
	margin-bottom: 10px;
}
#footer .explorer a{
	display: block;
	color: #a9c4e3;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #234;
}
#footer .explorer a:hover{
	text-decoration: underline;
}

/* El final de hasta abajo */
#footer-bottom{
	display: block;
	height: 40px;
	background-image:url('../../images/bgs/bg-footer-bottom.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	/*border-top: 1px solid #234;*/
}
#footer-bottom .little-info{
	display: block;
	font-size: 12px;
	color: #def;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 10px;
}
#footer-bottom .little-info a{
	text-decoration: none;
	color: #a9c4e3;
	border-bottom: 1px solid transparent;
}
#footer-bottom .little-info a:hover{
	border-bottom: 1px solid #a9c4e3;
}