/* Galerias */
.display-gallery{
	display: block;
	width: 790px;
}
.display-gallery .muestra{
	display: block;
	width: 134px;
}
.display-gallery .img-comtent{
	display: block;
	padding: 5px;
	padding-bottom: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #eaeaea;
	text-align: center;
	background-color: #fafafa;
	font-size: 10px;
	color: #456;
}
.display-gallery .img-comtent .thumb{
	display: block;
	height: 82px;
	width: 102px;
	/*background-image: url('../../images/icn/no-images-in-gallery.png');*/
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.display-gallery .gallery-info{
	display: block;
	width: 656px;
}
.display-gallery .gallery-info h2{
	font-size: 14px;
	color: #345;
	margin-top: 5px;
}
.display-gallery .gallery-info h2 a{
	color: #345;
	display: block;
	text-decoration: none;
}
.display-gallery .gallery-info h2 a:hover{
	color: #345;
	text-decoration: underline;
}

/* para la tabla */
.display-gallery thead th{
	background: #345;
	color: #fff;
}
.display-gallery table#data-filter img{
	border: 0px;
}
.display-gallery table#data-filter th{
	font-weight: normal;
}
.display-gallery table#data-filter td{
	color: #666;
}
.display-gallery table#data-filter th, .display-gallery table#data-filter td {
	text-align: left;
	border-bottom: 1px solid #ddd;
	/*padding: 2px 5px;
	padding-right: 10px;
	padding-left: 10px;*/
	font-size: 100%;
}
.display-gallery .odd{
	background: #fff;
}
/*.display-gallery .odd:hover, .display-gallery .even:hover{
	background: #f0faff;
}*/
.display-gallery .even{
	background: #fafafa;
}
.display-gallery .label-class{
	color: #678;
}
#form-id{
	background-color: #fafafa;
	background-image:url('../../images/bg/bg-bottom-top-menu.png');
	background-repeat: repeat-x;
	background-position: 0px 0px;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 5px;
	text-align: right;
}
.input-down{
	font-size: 10px;
	color: #89a;
	border: 1px solid #eaeaea;
	padding: 2px;
	background-color: #fff;
}


/* Para mostrar la galeria*/

.show_gallery{
	display: block;
}
.show_gallery ul{
	list-style: none;
}
.show_gallery ul li{
	float: left;
	display: inline-block;
	border: 1px solid #eaeaea;
	background-color: #fdfdfd;
	font-size: 10px;
	text-align: center;
	text-transform: capitalize;
	margin: 5px;
}
.show_gallery ul li a{
	text-decoration: none;
	color: #678;
}
.show_gallery ul li a:hover{
	text-decoration: underline;
	color: #678;
}
.show_gallery .bordered img{
	padding: 1px;
	border: 1px solid #eaeaea;
}
.show_gallery .bordered:hover img{
	padding: 1px;
	border: 1px solid #123;
}
.show_gallery .bordered{
	display: block;
	padding: 1px;
	border: 1px solid #eaeaea;
	margin: 2px;
	font-size: 10px;
}
.show_gallery .bordered:hover{
	background-color: #fafafa;
	border: 1px solid #123;
}
.show_gallery .this_pic{
	display: block;
	height: 39px;
	width: 54px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
h2.galleries{
	display: block;
	font-size: 20px;
	color: #345;
	margin-bottom: 10px;
	font-weight: normal;
}
.show_gallery h2{
	display: block;
	font-size: 20px;
	color: #345;
	margin-bottom: 10px;
	font-weight: normal;
}
.show_gallery h2 a{
	text-decoration: none;
	color: #345;
}
.show_gallery h2 a:hover{
	text-decoration: underline;
	color: #345;
}
.download_gallery{
	display: block;
	clear: both;
	text-align: center;
	padding-top: 30px;
}
.download_gallery a{
	display: inline-block;
	text-decoration: none;
	background-image: url('../../images/btn/btn-submit-button-left.png');
	background-repeat: no-repeat;
	background-position: 0px 50%;
	padding-left: 5px;
	color: #234;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 10px;
}
.download_gallery a span{
	display: inline-block;
	background-image: url('../../images/btn/btn-submit-button-right.png');
	background-repeat: no-repeat;
	background-position: 100% 50%;
	padding-right: 15px;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.download_gallery a:hover span{
	text-decoration: underline;
}