/* Login Style */

*{
	margin: 0px;
	padding: 0px;
	line-height: 20px;
	word-spacing: 2px;
	letter-spacing: 0;
	font-family: "Trebuchet MS", Arial, Sans-serif;
}
body{
	font-size: 12px;
	color: #678;
	background-color:#fff;
	background-image: url('../../images/bgs/bg-body.jpg');
	background-repeat: repeat-x;
	background-position: 0px 0px;
	margin-bottom: 20px;
}
td{
	font-size: 12px;
	color: #678;
}
#login{
	text-align: center;
}
#login .top-login{
	display: block;
	height: 29px;
	width: 500px;
	background-image: url('../../images/bgs/bg-login-top.png');
	background-position: 50% 0px;
	background-repeat: no-repeat;
	color: #f0f0f0;
	text-align: left;
}
#login .top-login .text{
	display: block;
	padding-top: 4px;
	padding-left: 10px;
}
#login .middle-login{
	display: block;
	width: 498px;
	display: block;
	background-color: #fff;
	border-left: 1px solid #f4f4f4;
	border-right: 1px solid #f4f4f4;
}
#login .middle-login .text{
	display: block;
	padding: 15px;
}
/*#login .middle-login input{
	font-size: 12px;
	color: #234;
}*/
#login .bottom-login{
	display: block;
	height: 29px;
	width: 500px;
	background-image: url('../../images/bgs/bg-login-footer-bottom.png');
	background-position: 50% 0px;
	background-repeat: no-repeat;
	color: #f0f0f0;
	text-align: left;
}
.submit_button{
	background-color: transparent;
	border: 0px;
	margin: 0px;
	padding: 0px;
	color: #345;
	font-size: 12px;
}
.in-submit{
	display: block;
	background-image:url('../../images/btn/btn-submit-button-left.png');
	background-repeat: no-repeat;
	background-position: 0px 50%;
	padding-left: 5px;
	padding-right: 2px;
}
.in-submit span{
	display: block;
	background-image:url('../../images/btn/btn-submit-button-right.png');
	background-repeat: no-repeat;
	background-position: 100% 50%;
	padding-left: 10px;
	padding-right: 15px;
	padding-top: 3px;
	padding-bottom: 3px;
}
/*----------------------------------------------------------------------------*/
/* Avisos, alertas e infos */
.type-info, .type-exito, .type-alerta, .type-error {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
    font-size:12px;
    border: 1px solid;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    display: block;
    text-align: left;
    margin: 10px;
}
.type-info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../../images/icn/info.png');
}
.type-exito {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../../images/icn/exito.png');
}
.type-alerta {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../../images/icn/alerta.png');
}
.type-error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../../images/icn/error.png');
}