/* CSS Document */
#banner-top{
	display: block;
	height: 152px;
	background-image:url('../../images/bgs/bg-top-banner.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
}
#banner-top .banner{
	display: block;
	height: 80px;
	width: 300px;
	background-image:url('../../images/bnr/bnr-arkos-noem-arenom.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	margin-top: 0px;
	margin-bottom: 12px;
}
#banner-top .right-pos{
	display: block;
	float: right;
	color: #f0faff;
	font-size: 12px;
	font-weight: bold;
	text-transform: capitalize;
	margin-top: 50px;
}
#banner-top .right-pos a{
	text-decoration: none;
	color: #b3cbe6;
	border-bottom: 1px solid transparent;
}
#banner-top .right-pos a:hover{
	text-decoration: none;
	color: #b3cbe6;
	border-bottom: 1px solid #b3cbe6;
}
#banner-top .right-pos .rss{
	display: inline-block;
	margin-left: 30px;
	padding-left: 22px;
	background-image:url('../../images/icn/rss.png');
	background-position: 0px 50%;
	background-repeat:no-repeat;
}
#banner-top #main-tabs{
	display: table-cell;
	height: 60px;
	width: 1024px;
	vertical-align: bottom;
	background-image:url('../../images/bgs/bg-tabs.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
#banner-top #main-tabs .tabs{
	list-style: none;
	display: block;
}
#banner-top #main-tabs .tabs li{
	float: left;
}
#banner-top #main-tabs a.this{
	background-image:url('../../images/btn/btn-tab-left.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: inline-block;
	text-decoration:none;
	color: #234;
	font-size: 12px;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 5px;
}
#banner-top #main-tabs a.this span{
	display: inline-block;
	background-image:url('../../images/btn/btn-tab-right.png');
	background-repeat: no-repeat;
	background-position: 100% 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 15px;
}
#banner-top #main-tabs a.tab{
	/*background-image:url('../../images/btn/btn-tab-left.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;*/
	display: inline-block;
	text-decoration:none;
	color: #f0faff;
	font-size: 12px;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 5px;
}
#banner-top #main-tabs a.tab span{
	display: inline-block;
	/*background-image:url('../../images/btn/btn-tab-right.png');
	background-repeat: no-repeat;
	background-position: 100% 0px;*/
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 15px;
}
#banner-top #main-tabs a:hover.tab{
	background-image:url('../../images/btn/btn-tab-left.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: inline-block;
	text-decoration:none;
	color: #234;
	font-size: 12px;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 5px;
}
#banner-top #main-tabs a:hover.tab span{
	display: inline-block;
	background-image:url('../../images/btn/btn-tab-right.png');
	background-repeat: no-repeat;
	background-position: 100% 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 15px;
}